
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* Generic selectors */
* {
    /* Variables */
    --btn-main-clr: #fff;
    --btn-second-clr: #eee;
    --nav-color: #fff;
    --border-main: #000 solid 4px;
    --bg-main-clr: #ddd;
    --start-clr: #53d153;
    --stop-clr: #ff4040;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#container-whole {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main-clr);
}

main {
    flex: 8 0 400px;
    display: flex;
    flex-direction: column;
}

/* Navbar */
#navbar {
    flex: 1 0 100px;
    display: flex;
}

#navbar ul {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

#navbar ul li {
    display: flex;
    flex: 1 0 30px;
    height: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

div.nav-select {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    border: var(--border-main);
    background-color: var(--nav-color);
    cursor: pointer;
}

#nav-timer {
    border-left: 0;
    border-right: 0;
}

.nav-select i {
    font-size: 3rem;
    flex: 1 0 10px;
    margin: 10px;
}

.nav-select h2 {
    flex: 1 0 10px;
    margin-top: 20px;
    font-size: 2.5rem;
    max-height: 2.8rem;
}

.pressed-btn {
    background-color: var(--bg-main) !important;
    border-bottom: 0 !important;
}

#nav-stopwatch.pressed-btn {
    border-left: 0 !important;
}

#nav-clock.pressed-btn {
    border-right: 0 !important;
}

.pressed-btn i {
    font-size: 3.5rem;
    margin-bottom: 10px;
}


/* Main/timer/status */
#container-main {
    display: flex;
    flex-direction: column;
    flex: 1 0 400px;
}

/* Stopwatch-timer */
.container-time {
    flex: 4 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-stopwatch {
    display: flex;
    flex-direction: column;
}

#num-stopwatch,
#num-timer,
#num-clock {
    font-size: 4rem;
}

#time-description {
    display: inline-block;
}

/* Controls */
.controls {
    flex: 1 1 200px;
    display: flex;
}

.wrapper-controls-stopwatch {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Controls-Stopwatch */
#controls-stopwatch {
    justify-content: center;
    align-items: stretch;
}
.stopwatch-btn {
    flex: 1 1 50px;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.stopwatch-btn i {
    font-size: 3rem;
    padding: 15px 0 5px 0;
}

#start-stopwatch i {
    color: var(--start-clr);
}

.stop-stopwatch i {
    color: var(--stop-clr) !important;
}

.startwatch {
    background: var(--btn-main-clr);
    display: flex;
    border: var(--border-main);
}

.stop-stopwatch {
    background: var(--btn-second-clr);
    border: var(--border-main);
}

#reset-stopwatch {
    background-color: var(--btn-main-clr);
    border: var(--border-main);
    border-left: 0;

}
 /* Controls-Timer */
#controls-timer {
    display: flex;
    flex-direction: column;
}

.wrapper-controls-timer {
    display: flex;
    flex: 1;
}

#wrapper-btn-top {
    font-size: 2rem;
    font-weight: 700;
    flex: 1.5;
}

#wrapper-btn-bottom {
    font-size: 1.5rem;
    flex: 1;
}

.timer-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: var(--border-main);
 }

#wrapper-btn-bottom input {
    width: 100px;
    font-size: 2rem;
    text-align: center;
    padding: 4px;
    margin: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#start-timer {
    background-color: var(--btn-main-clr);
    cursor: pointer;
}

#reset-timer {
    background: var(--reset-btn-color);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-left: 0;
    background-color: var(--btn-main-clr);
}

#reset-timer p {
    font-size: 1.5rem;
    font-weight: 500;
}

.input-btn {
    background: var(--btn-main-clr);
    border: var(--border-main);
    border-bottom: 0;
}

#hours-timer {
    border-right: 0;
}

#seconds-timer {
    border-left: 0;
}

#start-timer i {
    color: var(--start-clr);
    padding-top: 1rem;
}

#reset-timer i {
    padding-top: 1rem;
}

.fa-pause {
    color: red !important;
}

.timer-stopped {
    background-color: var(--btn-second-clr) !important;
}


/* Controls clock */
#controls-clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-control {
    display: flex;
    border: solid 1px var(--border-color);
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    background: var(--btn-main-clr);
    border: var(--border-main);
}

[id="12-hour"] {
    border-right: 0;
}

[id="12-hour"].pressed-hour {
    border-top: 0;
    border-left: 0;
    background-color: var(--bg-main-clr);
}

[id="24-hour"].pressed-hour {
    border-top: 0;
    border-right: 0;
    background-color: var(--bg-main-clr);
}

.clock-control h2 {
    font-size: 3rem;
}

.pressed-hour h2 {
    padding: 10px 20px;
    border: 4px solid black;
    border-radius: 10px;
}